<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head-title-links(~{::title}, ~{::link})}">
	<title th:text="#{admin}"></title>
	<link rel="stylesheet" th:href="@{/css/admin.css}" />
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>
<div th:replace="~{fragments/nav.html :: nav-admin}"></div>
<main>
	<table class="table table-hover">
		<thead class="table-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col" th:text="#{username}">Username</th>
				<th scope="col" th:text="#{email}">Email</th>
				<th scope="col" th:text="#{role}">Role</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="account : ${accounts}">
				<td th:text="${account.id}"></td>
				<td>
					<a th:href="@{'/admin/accounts/' + ${account.id}}">
						<span th:text="${account.username}"></span>
					</a>
				</td>
				<td th:text="${account.email}"></td>
				<td>
					<div th:each="role,iter : ${account.roles}">
						<span th:text="${role.name}"></span>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="mx-2">
		<!-- todo <a class="btn btn-dark" th:href="@{/admin/accounts/create}">Create Account</a>-->
	</div>
</main>
<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
</body>
</html>