<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head-title-links(~{::title}, ~{::link})}">
  <title th:text="#{admin}"></title>
  <link rel="stylesheet" th:href="@{/css/admin.css}" />
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>
<div class="nav-scroller bg-body shadow-sm">
  <nav class="nav" aria-label="Secondary navigation">
    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
    <a class="nav-link" href="#">
      Managers
      <span class="badge text-bg-light rounded-pill align-text-bottom">27</span>
    </a>
    <a class="nav-link" href="/admin/accounts">Account</a>
    <a class="nav-link" href="/admin/roles">Role</a>
    <a class="nav-link" href="/admin/resources">Resource</a>
  </nav>
</div>
<main class="container">
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
</body>

</html>
