<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head-title-links(~{::title}, ~{::link})}">
  <title th:text="#{admin}"></title>
  <link rel="stylesheet" th:href="@{/css/admin.css}" />
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>
<div th:replace="~{fragments/nav.html :: nav-admin}"></div>
<main class="container">

    <form class="form-horizontal" th:action="@{/admin/resources}" method="post" th:object="${resource}">
      <div class="form-group">
        <label for="resourceName" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control input-large" name="resourceName" id="resourceName" th:value="*{name}">
        </div>
      </div>

      <div class="form-group">
        <label for="resourceType" class="col-sm-2 control-label">Type</label>
        <div class="col-sm-10">
          <input type="text" class="form-control input-large" name="resourceType" id="resourceType" th:value="*{type}">
        </div>
      </div>
      <div class="form-group">
        <label for="httpMethod" class="col-sm-2 control-label">HttpMethod</label>
        <div class="col-sm-10">
          <input type="text" class="form-control input-large" name="httpMethod" id="httpMethod" placeholder="HttpMethod" th:value="*{httpMethod}">
        </div>
      </div>
      <div class="form-group">
        <label for="orderNum" class="col-sm-2 control-label">Order</label>
        <div class="col-sm-10">
          <input type="text" class="form-control input-large" name="orderNum" id="orderNum" placeholder="순서" th:value="*{orderNum}">
        </div>
      </div>
      <div class="form-group">
        <label for="roleName" class="col-sm-2 control-label">Role</label>
        <div class="col-sm-10">
          <select class="custom-select" name="roleName" id="roleName">
            <option th:each="role: ${roles}"
                    th:value="${role.name}"
                    th:text="${role.name}"
                    th:selected="${resource.roles.contains(role)} ? 'true' : 'false'" />
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-10">
          <button type="submit" class="btn btn-dark">Submit</button>
          <a class="btn btn-dark" th:href="@{/admin/resources}">List</a>
          <a class="btn btn-dark" th:href="@{'/admin/resources/delete/' + *{id}}">Delete</a>
        </div>
      </div>
    </form>

</main>
<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
</body>
</html>