<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head-title-links(~{::title}, ~{::link})}">
  <title th:text="#{admin}"></title>
  <link rel="stylesheet" th:href="@{/css/admin.css}" />
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>
<div th:replace="~{fragments/nav.html :: nav-admin}"></div>
<main>
  <table class="table">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">HttpMethod</th>
      </tr>
    </thead>
    <tbody>
      <tr class="link_btn hover" th:each="resource : ${resources}">
        <td style="text-align: left;" th:text="${resource.orderNum}"></td>
        <td style="text-align: left;">
          <a th:href="@{'/admin/resources/' + ${resource.id}}"><span th:text="${resource.name}"></span></a>
        </td>
        <td style="text-align: left;" th:text="${resource.type}"></td>
        <td style="text-align: left;" th:text="${resource.httpMethod}"></td>
      </tr>
    </tbody>
  </table>
  <div>
    <button type="button" class="btn btn-secondary" th:href="@{/admin/resource/register}">Create Resource</button>
  </div>
</main>
<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
</body>
</html>