<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head-title(~{::title})}">
    <title th:text="#{home.title}"></title>
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>
<main class="container">
    <section class="py-5 text-center">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <!--todo for test-->
                <p th:text="${username}"></p>
                <p th:text="${provider}"></p>
                <h1 class="fw-light" th:text="#{home.title}"></h1>
                <p class="lead text-muted" th:text="#{home.intro}"></p>
                <p sec:authorize="!isAuthenticated()">
                    <a href="#" th:href="@{/sign-up}" class="btn btn-dark my-2" th:text="#{create-account}"></a>
                    <a href="#" th:href="@{/login}" class="btn btn-secondary my-2" th:text="#{sign-in}"></a>
                </p>
                <p sec:authorize="isAuthenticated()">
                    <a href="#" th:href="@{/new-post}" class="btn btn-primary my-2">...</a>
                    <a href="#" th:href="@{/parties}" class="btn btn-secondary my-2">...</a>
                </p>
            </div>
        </div>
    </section>
</main>

<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
</body>

</html>