<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head-title-links(~{::title}, ~{::link})}">
	<title th:text="#{admin}"></title>
	<link rel="stylesheet" th:href="@{/css/admin.css}" />
</head>

<body>
<header th:replace="~{fragments/header.html :: header-common}"></header>
<div th:replace="~{fragments/nav.html :: nav-admin}"></div>
<main>
	<table class="table">
		<thead>
		<tr class="table-info">
			<th scope="col">Name</th>
			<!--<th scope="col">권한설명</th>-->
		</tr>
		</thead>
		<tbody>
		<tr class="link_btn hover" th:each="role : ${roles}">

			<td style="text-align: left;">
				<a th:href="@{'/admin/roles/' + ${role.id}}"><span th:text="${role.name}"></span></a>
			</td>
			<!--					<td style="text-align: left;" th:text="${role.roleDesc}"></td>-->
		</tr>
		</tbody>
	</table>
	<div>
		<button type="button" class="btn btn-secondary" th:href="@{/admin/resource/register}">Create Role</button>
	</div>
</main>
<footer th:replace="~{fragments/footer.html :: footer-common}"></footer>
</body>
</html>